{% extends 'layout.html' %}
{% load static %}

{% block title %}
   Contact
{% endblock %}

{% block content %}
<contentCont>
    <columnCont>
        <text>
            <h3>Contact me</h3>
            <p>✉️E-mail : ezzeddin.hz@gmail.com </p>
            <p>🖥️LinkedIn : <a href="https://www.linkedin.com/in/ezzeddin-hazem-074179253/">Ezzeddin Hazem</a></p>
            <p>📱Mobile : +20 1224489931</p>
        </text>
        <img src="{% static 'contact.png' %}"></img>
    </columnCont>
    
</contentCont>
{% endblock %}